{% extends "header.html" %}

{% block body %}


<div class="content-page">
  <div class="container-fluid container">

    <div class="row ">
        <div class="col-lg-6">
        <div class="">
      <div class="col-lg-12 ">     
        <br>        
          <h1 class="mt-4 mb-2"><strong><i class="ri-book-line ri-2x line-height text-primary"></i> Welcome to Bookify</strong></h1>
          <h3>Discover the world of books and get insightful reviews.</h3>
          <p>Are you a book enthusiast, part of a book club, or a member of a reading community? Bookify is here to simplify the process of booking book dates for discussions, events, and more. With our user-friendly web application, you can easily browse available dates, select your preferred book discussions, and make hassle-free bookings. 
            Discover the world of books and get ready for insightful conversations.</p>

          <a href="/login" class="btn btn-primary">Get Started</a>

        </section>
      </div>
    </div>
        </div>

        <div class="col-lg-6">
          <div class="">
             
               <div class="card-body">
                <br>
                  <h5 class="mb-2">Why use Bookify ?</h5>
                  <ul class="list-unstyled mb-0">
                     <li class="mb-3"><i class="fa fa-check-circle text-primary fa-lg mr-2"></i><b>Explore Available Dates:</b> Discover curated book dates with details like the book title, author, and descriptions. Sort by popularity, date, or book title for easy browsing..</li>
                     
                     <li class="mb-3"><i class="fa fa-check-circle text-primary fa-lg mr-2"></i><b>Effortless Booking:</b> Select your preferred date and effortlessly complete the booking process. Provide your name, email, and additional requirements, and we'll handle the rest.</li>
                     <li class="mb-3"><i class="fa fa-check-circle text-primary fa-lg mr-2"></i><b>Easy Confirmation:</b> Receive a confirmation message after booking with all the necessary details. Access your booked date, time, and any special instructions. Print or save the confirmation for convenience.</li>

                  </ul>
                 
               </div>
            </div>

        </div>
    </div>


<div style="margin-bottom: 20px;"></div>
<!--counter side-->
<div class="row justify-content-center">
<div class="col-sm-8 text-center">
<div class="iq-comingsoon-info">
<a href="/">
<img src="#" class="img-fluid w-25" alt="">
</a>
<h2 class="mt-4 mb-1">Thank you ALX!, we're launching very soon</h2>
<p>We are working very hard to give you the best experience possible!</p>
<ul class="countdown d-flex align-items-center list-inline" data-date="2023-07-09T12:00:02">
<li class="col-md-6 col-lg-3">
<div class="card">
    <div class="card-body">
    <span data-days="">0</span>Days
    </div>
</div>
</li>
<li class="col-md-6 col-lg-3">
<div class="card">
    <div class="card-body">
    <span data-hours="">0</span>Hours
    </div>
</div>
</li>
<li class="col-md-6 col-lg-3">
<div class="card">
    <div class="card-body">
    <span data-minutes="">0</span>Minutes
    </div>
</div>
</li>
<li class="col-md-6 col-lg-3">
<div class="card">
    <div class="card-body">
    <span data-seconds="">0</span>Seconds
    </div>
</div>
</li>
</ul>
</div>
</div>
</div>


<div class="row justify-content-center">
  <div class="col-sm-8 text-center">
    <div class="iq-comingsoon-info">
      <a href="/">
        <img src="#" class="img-fluid w-25" alt="">
      </a>
      <h2 class="mt-4 mb-1">Watch Bookify in action! </h2>
      <div>
        <iframe src="https://www.youtube.com/embed/XLx-by4Z8JU" width="800" height="450" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<!-- form subscriber-->
<div class="row justify-content-center">
<div class="col-lg-4">
<form class="iq-comingsoon-form mt-5">
<div class="form-group">
    <input type="email" class="form-control comming mb-0" id="exampleInputEmail1" 
    placeholder="Join Our Waiting List ">
    <button type="submit" class="btn btn-primary">Subscribe</button>
</div>
</form>
</div>
</div>
<!--/form subscriber-->

<div style="margin-bottom: 60px;"></div>
<!--/ counter side -->
     <div class="row justify-content-center">
      <div class="col-lg-12 text-center mb-2">
<h2>Why the wait? Join our community Today </h2>
</div></div>

<!--boxes-->
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="ri-window-line ri-4x line-height text-primary"></i>
                    <h5 class="card-title mt-1">A Seamless User Experience</h5>
                    <p class="mb-0">
                        Bookify is designed with you in mind. Our responsive and intuitive user interface ensures a seamless experience across devices. Whether you're browsing on your desktop, tablet, or smartphone, Bookify adapts to your screen size, maintaining readability and usability
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="ri-group-line ri-4x line-height text-primary"></i>
                    <h5 class="card-title mt-1">Join the Bookify Community</h5>
                    <p class="mb-0">
                        Become part of a vibrant community of book lovers. Engage in meaningful conversations, share your thoughts on books, and connect with like-minded individuals. Bookify offers a platform for you to interact with fellow readers, join book clubs, and expand your literary horizons.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="ri-book-line ri-4x line-height text-primary"></i>
                    <h5 class="card-title mt-1">Your Book Date Journey Starts Here</h5>
                    <p class="mb-0">Ready to embark on a journey of literary exploration? Start booking your book dates with Bookify today. Simplify the process, connect with book enthusiasts, and dive into captivating discussions. Let's make your book dates truly memorable.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/boxes-->


<style>
  .btn-lg-custom {
    font-size: 24px;
    padding: 16px 24px;
  }
</style>

<div class="row justify-content-center">
  <div class="col-sm-8 text-center">
    <a href="/dashboard" class="btn btn-primary btn-lg-custom my-4">Get Started</a>
  </div>
</div>








<script>
    function getTimeRemaining(endtime) {
    const total = Date.parse(endtime) - Date.parse(new Date());
    const seconds = Math.floor((total / 1000) % 60);
    const minutes = Math.floor((total / 1000 / 60) % 60);
    const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
    const days = Math.floor(total / (1000 * 60 * 60 * 24));
  
    return {
      total,
      days,
      hours,
      minutes,
      seconds
    };
  }
  
  function initializeClock(elem, endtime) {
    const clock =  document.querySelector(elem)
    const daysSpan = clock.querySelector('[data-days]')
    const hoursSpan = clock.querySelector('[data-hours]')
    const minutesSpan = clock.querySelector('[data-minutes]')
    const secondsSpan = clock.querySelector('[data-seconds]')
  
    function updateClock() {
        const t = getTimeRemaining(endtime)
  
        daysSpan.innerHTML = t.days
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2)
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2)
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2)
        
        if (t.total <= 0) {
            clearInterval(timeinterval)
        }
    }
  
    updateClock()
    const timeinterval = setInterval(updateClock, 1000)
  }
  
  let time = document.querySelector('.countdown').getAttribute('data-date')
  if (time == undefined) {
    time = Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000
  }
  const deadline = new Date(time)
  initializeClock('.countdown', deadline)

</script>

{% endblock %}
